* {
    font-family: 'Open Sans', sans-serif;
    color: #131111;
}

body {
    background: #f0eded;
}

h1, h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 600;
}